.homeImage {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 50%;
  left: 16px;
  font-size: larger;
}
.bottom-right{
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 15px;
}

.dropdown-item{
  color: white;
  transition: all 0.5s ease;
}

.dropdown-item:hover{
    background-color:#FF073A ;
    color: white;
  }
